h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: purple ;
    padding: 24px;

}

body {
    width: 300px;
    text-align: center;
}

#warning {
    color: red;
}